/.idea/
/.gradle/
/.intellijPlatform/

bin/
obj/
build/

/src/rider/generated/**/*.Generated.kt
/src/dotnet/ReSharperPlugin.NSubstituteComplete/Model/**/*.Generated.cs

/src/dotnet/nuget.config

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store

.gradle
build
output
